<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Account Settings</ion-title>
  </ion-navbar>
</ion-header>


               
               
        <ion-content padding>


        <ion-card *ngIf="currentTempVolunteer.associatedPollingStationKey">
        <ion-list text-wrap>

            <ion-list-header >
              Polling Station Team Information
            </ion-list-header>


   <ion-item style="cursor:pointer" (click)="goToStationDetails();">
  <pollingstationcomponent [passedStations]=thisTempStation> </pollingstationcomponent> 
   </ion-item>


        

      <div padding>
      <h2 style="margin-bottom:10px">Volunteer List:</h2>
      <p *ngFor="let item of (fullVolunteerList)"> 
        <span >{{item.fullName}}</span> <span style="float: right" *ngIf="item.exposeEmail">{{item.emailAddress}}</span>
      </p>
      </div>
    

        </ion-list>
        </ion-card>



<ion-card padding *ngIf="currentTempVolunteer.fullName==null">
  Register to generate account settings.
</ion-card>


        <ion-card *ngIf="currentTempVolunteer && currentTempVolunteer.fullName">
            <form [formGroup]="changeForm"  (ngSubmit)="onSubmit(changeForm.value)" novalidate>
              <ion-list text-wrap>
<ion-list-header>Account Settings</ion-list-header>
  <ion-item>
    <ion-label stacked>Full Name:</ion-label>
    <ion-input (click)="wasThisTouched()" type="text" formControlName="fullNameCtrl" ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Email:</ion-label>
    <ion-input  (click)="wasThisTouched()" type="text" formControlName="emailAddressCtrl"></ion-input>
  </ion-item>

    <ion-item>
    <ion-label stacked>Email Exposed:</ion-label>
    <ion-input  (click)="wasThisTouched()" type="text" formControlName="exposeEmailCtrl"  (click)="askExpose()" value="{{exposedYesOrNo}}"></ion-input>
  </ion-item>


    <ion-item>
    <ion-label stacked>Cell Phone Number:</ion-label>
    <ion-input (click)="wasThisTouched()" type="text" formControlName="phoneNumberCtrl" ></ion-input>
  </ion-item>

    <ion-item>
    <ion-label stacked>Age:</ion-label>
    <ion-input (click)="wasThisTouched()" type="text" formControlName="ageCtrl" ></ion-input>
  </ion-item>


<!-- (click)="askSex(); wasThisTouched();"  -->

    <ion-item>
    <ion-label stacked>Sex:</ion-label>
         <ion-select text-wrap [(ngModel)]="currentTempVolunteer.sex" formControlName="sexCtrl"  >
            <ion-option value="Female">Female</ion-option>
            <ion-option value="Male">Male</ion-option>
            <ion-option value="NoAnswer">No Answer</ion-option>
          </ion-select> 
<!--
    <ion-input type="text" formControlName="sexCtrl" value="{{currentTempVolunteer.sex}}" ></ion-input> 
-->
  </ion-item>
  

    <ion-item>
    <ion-label stacked>Party Affiliation:</ion-label>
    <ion-input (click)="wasThisTouched()" type="text" formControlName="partyAffiliationCtrl" ></ion-input>
  </ion-item>

    <ion-item (click)="askShifts()">
    <ion-label stacked>Registered Shifts:</ion-label>
    <ion-textarea (click)="wasThisTouched()" readonly type="text" formControlName="shiftsCtrl" value="{{printedShifts}}" ></ion-textarea>
    </ion-item>

  <ion-item>
    <ion-label stacked>Passcode:</ion-label>
    <ion-input (click)="wasThisTouched()" type="password" formControlName="passcodeCtrl"></ion-input>
  </ion-item>

</ion-list>


             </form>
        </ion-card>  




  <button *ngIf="wasTouched" type="submit" [disabled]="!changeForm.valid" (click)="onSubmit(changeForm.value)" block large>
    Submit
  </button>


 <!-- <p>Form: {{ changeForm.value | json }}</p>
<p>Form Status: {{ changeForm.status }}</p> -->

      </ion-content>
