<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Polling Station Details</ion-title>
  </ion-navbar>
</ion-header>




<ion-content padding>
      <ul>
      <li>
    <pollingstationcomponent [passedStations]=pollingStationService.selectedStation> </pollingstationcomponent> 

          <!-- <ion-card padding>
                <ion-item *ngFor="let item of (pollingStationService.selectedStation.associatedVolunteerList)">
                <ion-label>{{item.fullName}}</ion-label>
                <ion-label>{{item.shifts}}</ion-label>
                </ion-item>
       </ion-card> -->


      </li>
      </ul>

<div>
  <b>Early Morning (5:00 AM - 8:15 AM)</b>
      <ul>
      <li *ngFor="let item of (pollingStationService.selectedStation.associatedVolunteerList)">
        <span *ngIf="item.shifts=='Afternoon'">
        {{item.fullName}}</span>
      </li>
      </ul>
</div>

<div>
  <b>Late Morning (8:00 AM - 11:15 AM)</b>
</div>

<div>
  <b>Early Afternoon (11:00 AM - 2:15 PM)</b>
</div>

<div>
  <b>Late Afternoon (2:00 AM - 5:15 AM)</b>
</div>

<div>
    <b>Early Evening (5:00 AM - 8:15 AM)</b>
</div>

<div>
  <b>Late Evening (8:00 AM - 10:30 AM)</b>
</div>

      
</ion-content>
