<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Polling Station Details</ion-title>
  </ion-navbar>
</ion-header>




<ion-content padding>
  
      <ion-card padding>
    <pollingstationcomponent [passedStations]=pollingStationService.selectedStation> </pollingstationcomponent> 
      </ion-card>



<ion-card padding>
<div>
  <b>Early Morning (5:00 AM - 8:15 AM)</b>
      <p *ngFor="let item of (pollingStationService.selectedStation.associatedVolunteerList)">
        <!-- <span *ngIf="item.shifts=='Afternoon'"> -->
        <span *ngIf="checkEarlyMorning(item.shifts)==true">
        {{item.fullName}}</span>
      </p>
</div>




<div>
  <b>Late Morning (8:00 AM - 11:15 AM)</b>
        <p *ngFor="let item of (pollingStationService.selectedStation.associatedVolunteerList)">
        <!-- <span *ngIf="item.shifts=='Afternoon'"> -->
        <span *ngIf="checkLateMorning(item.shifts)==true">
        {{item.fullName}}</span>
      </p>
</div>




<div>
  <b>Early Afternoon (11:00 AM - 2:15 PM)</b>
  <p *ngFor="let item of (pollingStationService.selectedStation.associatedVolunteerList)">
        <!-- <span *ngIf="item.shifts=='Afternoon'"> -->
        <span *ngIf="checkEarlyAfternoon(item.shifts)==true">
        {{item.fullName}}</span>
      </p>
</div>




<div>
  <b>Late Afternoon (2:00 AM - 5:15 AM)</b>
        <p *ngFor="let item of (pollingStationService.selectedStation.associatedVolunteerList)">
        <!-- <span *ngIf="item.shifts=='Afternoon'"> -->
        <span *ngIf="checkLateAfternoon(item.shifts)==true">
        {{item.fullName}}</span>
      </p>
</div>



<div>
    <b>Early Evening (5:00 AM - 8:15 AM)</b>
      <p *ngFor="let item of (pollingStationService.selectedStation.associatedVolunteerList)">
        <!-- <span *ngIf="item.shifts=='Afternoon'"> -->
        <span *ngIf="checkEarlyEvening(item.shifts)==true">
        {{item.fullName}}</span>
      </p>
</div>



<div>
  <b>Late Evening (8:00 AM - 10:30 AM)</b>
        <p *ngFor="let item of (pollingStationService.selectedStation.associatedVolunteerList)">
        <!-- <span *ngIf="item.shifts=='Afternoon'"> -->
        <span *ngIf="checkLateEvening(item.shifts)==true">
        {{item.fullName}}</span>
      </p>
</div>
</ion-card>

<ion-card padding>
<p>Total Registered Volunteers: {{pollingStationService.selectedStation.totalRegisteredVolunteers}}</p>
<p>Total Needed Volunteers Remaining: {{pollingStationService.selectedStation.totalNeededVolunteers}}</p>
</ion-card>
      
</ion-content>
