.findpollinglocation {

}

#searchDiv {
    width: calc(100% - 33px); 
    position:fixed; 
    background:white; 
    margin-bottom:0px;margin-top: -16px; 
    padding-bottom:0px
}

.searchBarStyle {
margin-bottom:0px; 
padding-bottom:0px; 
width:100%
}