<ion-content class="backgroundColor" padding>
  <headerc [titlec]=titlec></headerc>
      
      <div id="searchDiv" style="background:#ededed">
      <ion-searchbar style="margin-bottom:0px; padding-bottom:0px; width:100%" [(ngModel)]="query"></ion-searchbar> 
      </div>

      <div style="margin-top:60px">
       <ion-card padding style="cursor:pointer" (click)="showStationDetails(item);" *ngFor="let item of (stations | searchpipe:query)">
  <!--       <ion-card padding style="cursor:pointer" (click)="showStationDetails(item);" *ngFor="let item of (stations)">  -->
       <pollingstationcomponent [passedStations]=item> </pollingstationcomponent>
       </ion-card>
      </div>
     





</ion-content>
