<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Find Polling Location</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

        
      
      <div id="searchDiv">
      <ion-searchbar style="margin-bottom:0px; padding-bottom:0px; width:100%" [(ngModel)]="query"></ion-searchbar> 
      </div>

      <div style="margin-top:60px">
       <ion-card padding style="cursor:pointer" (click)="showStationDetails(item);" *ngFor="let item of (stations | searchpipe:query)">
  <!--       <ion-card padding style="cursor:pointer" (click)="showStationDetails(item);" *ngFor="let item of (stations)">  -->
       <pollingstationcomponent [passedStations]=item> </pollingstationcomponent>
       </ion-card>
      </div>
     





</ion-content>
