<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Find Polling Location</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

        
      

      <ion-searchbar [(ngModel)]="query"></ion-searchbar> 
       <!--<ion-card padding style="cursor:pointer" (click)="showStationDetails(item);" *ngFor="let item of (stations) | searchpipe:query"> -->
         <ion-card padding style="cursor:pointer" (click)="showStationDetails(item);" *ngFor="let item of (stations)"> 
       <pollingstationcomponent [passedStations]=item> </pollingstationcomponent>
       </ion-card>
      
     





</ion-content>
