
<ion-header>
  <ion-navbar hideBackbutton="true">
    <button style="float:left; margin-top:-5px;" (click)="navCtrl.push(menupg)" ion-button clear cf> 
      <ion-icon name="menu" ></ion-icon> 
    </button>
    <ion-title>Democracy Counts</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="backgroundColor" padding>

    <!-- <button type="button" item-left (click)="navCtrl.push(menupg);">
      Menu
    </button> -->

   <ion-card padding>

<img src="../../img/exitAuditBanner.jpg">
          
<button type="button" (click)="onVolunteerClick()" block large>
  Volunteer 
</button>

<button type="button" (click)="onDonateClick()" block large>
  Donate 
</button>
<div *ngIf="!restSvc.getLoggedIn()">
  <button type="button" (click)="onLoginClick()" block large>
    Log in 
  </button>
</div>
<div *ngIf="restSvc.getLoggedIn()">
  <button (click)="onLogout()" block large>
    Log Out
  </button>
</div>

    <P style="color:red" *ngIf="errorMessage">{{errorMessage}}</P>
   </ion-card>

</ion-content>




     
